{% extends 'base.html'%}

{%block title%}Agregar un nuevo alumno {%endblock%}

{% block content %}

<h4>Agregar alumno</h4>

<form action="{{ url_for('create_alumnos')}}" method="POST">
    <div class="container">
        <div class="form-group mb-3">
            <label for="no_control">No. control</label>
             <input type="text" class="form-control" id="no_control" name="no_control" required placeholder="Ingresa numero de control">

        </div>

        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Ingresa el nombre">

        </div>

        <div class="form-group mb-3">
            <label for="ap_paterno">Apellido paterno</label>
            <input type="text" class="form-control" id="ap_paterno" name="ap_paterno" required placeholder="Ingresa apellido paterno">

        </div>

        <div class="form-group mb-3">
            <label for="ap_materno">Apellido materno</label>
            <input type="text" class="form-control" id="ap_materno" name="ap_materno" required placeholder="Ingresa apellido materno">

        </div>

        <div class="form-group mb-3">
            <label for="semestre">Semestre</label>
            <input type="number" class="form-control" id="semestre" name="semestre" required placeholder="Ingresa el semestre">

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('index')}}" class="btn btn-danger">Cancelar</a>

</form>
{% endblock %}